<div class="">
  <h1 class="w-1/4 text-3xl font-bold border rounded-sm border-amber-400 items-center justify-center text-center">
    Hello world!
  </h1>
</div>
<div class="container">
 <app-user [user]="daung" [title]="title"></app-user>

 
</div>
<div class="space-x-2">
  <button class="border border-orange-500 rounded-md px-6 hover:bg-gradient-to-r from-orange-400 to-gray-500 hover:drop-shadow-2xl hover:text-white" (click)="viewCode=1">View</button>
  <button class="border border-orange-500 rounded-md px-6 hover:bg-gradient-to-r from-orange-400 to-gray-500 hover:drop-shadow-2xl hover:text-white" (click)="viewCode=2">See</button>
  <button class="border border-orange-500 rounded-md px-6 hover:bg-gradient-to-r from-orange-400 to-gray-500 hover:drop-shadow-2xl hover:text-white" (click)="viewCode=3">Test</button>
</div>

<div class="mt-4 ms-3  container" [ngSwitch]="viewCode">
  <div *ngSwitchCase="1" class="h-24 bg-indigo-500"></div>
  <div *ngSwitchCase="2" class="h-24 bg-green-500"></div>
  <div *ngSwitchDefault class="h-24 bg-orange-500"></div>

</div>